In [ ]:
                                       "Practical Questions"

In [ ]:
Qus1 : Write a code to create a string with your name and print it.

In [ ]:
string = "Varshitha"
string

'Varshitha'

In [ ]:
 Qus2 :Write a code to find the length of the string "Hello World"

In [ ]:
s = "Hello World"
len(s)

11

In [ ]:
Qus3 : Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
String = "Python Programming"
String

'Python Programming'

In [ ]:
String[:-15]

'Pyt'

In [ ]:
Qus4 :Write a code to convert the string "hello" to uppercase.

In [ ]:
s = "hello"
s

'hello'

In [ ]:
text = "hello"
text.upper()

'HELLO'

In [ ]:
Qus5 :Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
s.replace("apple" , "orange")

'I like orange'

In [ ]:
Qus6 : Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [ ]:
Qus7 : write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [ ]:
list.append("10")
list

[1, 2, 3, 4, '10', '10', '10', '10']

In [ ]:
Qus8 Write a code to remove the number 3 from the list[1,2,3,4,5]

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
Qus9:write a code to access the second element in the list['a','b','c','d']

In [ ]:
my_list = ['a','b','c','d']
second_element = my_list
print(second_element)

['a', 'b', 'c', 'd']

In [ ]:
Qus10: Write a code to reverse the list [10,20,30,40,50].

In [ ]:
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [ ]:
Qus11: Write a code to create a tuple with the elements 100,200,300 and print it

In [ ]:
a = (100,200,300)
print(a)

(100, 200, 300)

In [ ]:
type(a)

tuple

In [ ]:
Qus12:Write a code to access the second -to -last elements of the tuple('red','green','blue',yellow)

In [ ]:
b = ('red', 'green','blue','yellow')
b

('red', 'green', 'blue', 'yellow')

In [ ]:
b[2:]

('blue', 'yellow')

In [ ]:
Qus13:Write a code to find the minimum number in the tuple(10,20,5,15)

In [ ]:
tuple1 = (10,20,5,15)
tuple1

(10, 20, 5, 15)

In [ ]:
min(tuple1)

5

In [ ]:
Qus14:Write a code to find the index of the element "cat" in tuple ('dog','cat','rabbit')

In [ ]:
a = ('dog','cat','rabbit')
a.count('cat')

1

In [ ]:
Qus15:Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
c = ('orange','banana','grapes','watermelon')
c

('orange', 'banana', 'grapes', 'watermelon')

In [ ]:
'kiwi' in c

False

In [ ]:
 a = ('grapes','banana', 'apple')
 'kiwi' in a

False

In [ ]:
Qus16: write a code to create a set with the elements 'a','b','c' and print it

In [ ]:
set_name = {'a','b', 'c'}
set_name

{'a', 'b', 'c'}

In [ ]:
Qus17: Write a code to clear all elements from the set{1,2,3,4,5}.

In [ ]:
set_name = {1,2,3,4,5}
set_name

{1, 2, 3, 4, 5}

In [ ]:
set_name.clear

In [ ]:
Qus18: Write a code to remove the element 4 from the set{1,2,3,4}

In [ ]:
a = {1,2,3,4}
a

{1, 2, 3, 4}

In [ ]:
a = {1 ,2 ,3 , 4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
Qus19:Write a code to find the union of two sets {1,2,3} and {3,4,5}

In [ ]:
a1 = {1,2,3}
a2 = {3,4,5}
a1|a2

{1, 2, 3, 4, 5}

In [ ]:
Qus20: Write a code to find the intersection of two sets {1,2,3} and {3,4,5}

In [ ]:
b1 = {1,2,3}
b2 = {3,4,5}
b1 & b2

{3}

In [ ]:
Qus21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
a = {"name": "varsha" , "age":"21", "city": "kothagudem" }
a

{'name': 'varsha', 'age': '21', 'city': 'kothagudem'}

In [ ]:
Qus 22:Write  a code to add  a new key-value pair "country": "USA" to the dictionary , {'name':'John','age' :25}

In [ ]:
 a = {'name':'John', 'age':25}
 a

{'name': 'John', 'age': 25}

In [ ]:
a['name'] = "USA"
a

{'name': 'USA', 'age': 25}

In [ ]:
a

{'name': 'USA', 'age': 25}

In [ ]:
a['country'] = 'USA'
print(a)

{'name': 'county', 'age': 25, 'country': 'USA'}

In [ ]:
Qus23: Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age:'30}

In [ ]:
b = {'name': 'Alice', 'age':30}
name_value = b ['name']
print(name_value)

Alice

In [ ]:
Qus24:Write a code to remove the key "age" from the dictionary {'name':'Bob','Age':22,'city':'New York'}.

In [ ]:
d = {'name': 'Bob','Age':22,'city':'New York'}
d

{'name': 'Bob', 'Age': 22, 'city': 'New York'}

In [ ]:
del d["Age"]
d

{'name': 'Bob', 'city': 'New York'}

In [ ]:
Qus25: Write a code to check if the key "city"exists in the dictionary {'name':'Alice','city':'Paris' }

In [ ]:
d = {'name':'Alice','City':'Paris'}
d

{'name': 'Alice', 'City': 'Paris'}

In [ ]:
d = {'name':'Alice','City':'Paris'}
if "city" in d:
  print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' does not exist in the dictionary.

In [ ]:
Qus26:Write a code to create a list ,a tuple,and dictionary and print them all

In [ ]:
d ={'name':['Apple','orange', 'grapes'],'contact':'(123,456)', 'email':'123@gmail.com' }
d

{'name': ['Apple', 'orange', 'grapes'],
 'contact': '(123,456)',
 'email': '123@gmail.com'}

In [ ]:
Qus 27:Write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order,and print the result

In [ ]:
number_list = [14,25,22,31,21]
sorted(number_list)

[14, 21, 22, 25, 31]

In [ ]:
Qus28: Write a code to create a list with strings and print the elements at the third index

In [ ]:
a = ["Rose","Sunflowers ","Royal", "2", "books"]
a

['Rose', 'Sunflowers ', 'Royal', '2', 'books']

In [ ]:
a.index("2")

3

In [ ]:
Qus29: Write a code to combine two dictionaries into one and print the result

In [ ]:
Qus30: write a code to convert a list of strings into set

In [ ]:
a = {"Data Science","Pw skills ", "First Batch"}
print(a)

{'Pw skills ', 'Data Science', 'First Batch'}

Qus1: What are Data Structures and why they are important.
Data Structure are speclized formats for orgnazing, storing,accessing collections of data. They provide efficent ways to manage information based on its characteristics and intended use.
think of it as a container that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
They are important because
-choosing the right data Structure singnificantly impacts the efficieny and performance of program.
-Well-choosen data structure can:
-Simplify data manipulation (adding,removing,modifying elements)
-OPtimize searching and sorting operatons
-Conserve memory usage.


Qus2: Explain the difference between mutables and immutable data structure.
Ans:  In the Data Structure the lists are mutable and the dictionary, strings are immutable .
Mutable that which can changeable after the creation .can modify ,add, or remove elements without creating a new object .
for example Lists, dictionaries , and sets are mutable ; you can update directly .
If you add or change an item in a list or dictionary, the same object in memory is change.

 immutable data structures cannot be changed once created . Any attempt to modify them creates a new object in memory , leaving the original unchanged .
 for example in python

 - Strings , tuples , and integers are immutable ; modifying them produces a new object with a different memory address .


 Qus3:What are the main difference between list and tuples in Python.
 Ans : the main difference between list are
      Mutable the list are and they can change , remove , add or other items after creation .Tuples are immutables and can't change after creation , and cannot change the content

      List to add to the list appened, to remove using the remove or sort using the [] brackets

      Tuples () these are used for them



  Qus4: Descride how the dictionary store the data
  Ans: Unordered collections: Elements are not sorted in a specific order
  - Unique key-value pairs : each key acts as a unique identifier for retrieving an associated value
  - Flexible data - Keys and values can be of various data types (string , numbers,list, even other dictionaries )
  Operations

  - Add : use direct assingment (dictionary_name[key] =  value) or .update () method .
  - Access : Retrieve values using their values using their keys (values = dictionary_name[(key)].
  - Remove : Use del dictionare_name[key].,pop(key) ,or  .popitem().
  - Check membership : Use the in operatoe [key in dictionary_name]



Qus5Why might you see set instead of list in python
Ans:  set are unordered collections of unique elements . The order doesn't matter , and duplicate entries are not allowed . Sets are useful for checking membership (if an item exists ) or finding the intersection / difference between sets .
we can add or remove elements from a sets ,but you cannot access elements by index . set operations like union , intersection,and difference  are efficent . removing duplicates from data , needing fast membership test , performing mathematical set operations .


Qus6: what is a string in python  and how it is different from a list.
Ans: Charaters arranged in an unchangeable order . Consider writing a sentence , a paragrah ,or piece of material .
each charater in the string can be accessed by its index or position . Substring s can be extracted using slicing . String can be joined togerther and altered using a variety of techniques (find,replace, etc).

list are changeable and add, remove, sort after creation .


Qus7: How do tuples ensure data integrity in python
Ans :Tuples ensure data integrity in python through   their immutability - once a tuple is created , its contents cannot be changed added or removed .
The data stored in tuple remains constant throughout its lifecycle , making unintended modifications impossible.


Qus8: What is a hash table, and how does it relate to dictionaries in python .
Ans :A hash table is a data structure that stores key-values pairs and allows for fast data retrieval ,insertion, and deletion . It works by using  a hash value , which determines the index in an underlying array or tables where the value is stored
In python , the built -in 'dict '   dictionary tyoe is an implementation of a hash table
When you use a dictionary
key are hashed with python 's built in 'hash()' function to prodeuce an integer hash value .
The hash determines where in the internal arrary the value will be stored
When you access, insert, updates , or delete a key value pair, python uses this hash table mechanism to do it quickly and efficiently.


Qus9 : Can lists contain different data type
Ans: Yes, list contain different data type . You can store integers ,
floats,booleans ,objects and even other lists . this is possible because lists in python are designed  to hold reference to object , allowing for mix of types in the same collection.



Qus10: Explain why string are immutable in python .
Ans : Python strings are immutable - once created , their contents cannot changed . This desings was choosen for several important reasons:
Hashing and dictionary keys
Bugs and safety
performance and optimization


Qus11: What advantages do dictionaries offer over lists for certain tasks?
Ans: Dictionaries in python offers several distinct advamtages over list fpr specific tasks, making them the perferred choice in many scenarios .

Dictionaries provide significantly faster lookups compared to lists when searching by key, with an average complexity of O(1), while list requires O(n) in the worst case . This performance difference becomes paryicularly noticable when working with large datasets.


Qus12: Describe a scenerio where sing a tuples would be preferable over alist.
Ans: A scenario where using a tuple is preferable over list is when you need to store a collection of data that should not change after its creation , such as constants, configuration values , or fixed records . For example, storing a set geographic coordinates as a tuple ensure data integrity because the values cannot be accidentally modified later codes

Immutability : Tuple cannot be altered,so they're ideal for soring data that must remain constant

Performance : Tuples are generally faster and use less memory than list ,making them efficient for fixed collection

Hashability : Tuples can be used as dictionary keys or sets elements , while lists cannot due to their mutability.


Qus13: How does sets handle duplicate values in python
Ans: A set in python automatically removes duplicat values . If you try to add an item to a set that is already present , the duplicate is simply ignored and only one instance is kept .

Qus14: How does the "in' keyword wordk differently for lists and dictionaries
Ans: The in keyword works differently for list and a dictionary in python

For a list ,'in' checks whether a given value exists among the elements of list it give true or false

For a dictionary , 'in' checks whether a given key exists among the dictionary's keys, not the values .


List 'item in list'  searches for elements/values
Dictionary : 'key in dict ' searches for keys only


Qus15: can you modify the elements of tuple? explain why or why not.
Ans: You cannot modify thw elements of a tuple in python  because tuples are immutable data type . This means once a tuple is created , its contents cannot be changed ,updated, added to, or removed . any attempt to assign a new value to an element by index will raise a 'TypeError'


Qus16:What is anested dictionary , and give an example of its use case?
Anested dictionary in python is a dictionary that stores one or more dictionaries as its values, creating a hierarchical structure.
This allows you to represent complex , structured data intuitively, making it easier to organize and access related information .
Typical use case:
A common use case foe a nested dictionary is to organize information about multiple entities, where each entity has several attributes . For example, storing a list of students where each student has detailed information(name,age, grade)


Qus17: Describe the time complexity of accessing elements in a dictionary.
Ans: Accesssing an elements in apython dictionary by its key has an average -case time complexity of O(1) .This efficiency is possible because dictionaries use a hash table internally , allowing for constant - time loopups by rapidly locating  the memory address associated withh a key's hash value


Qus18: in  what situations are list s perferred over dictonaries?
ans : lists are perfferd over dictionaries in these situations
Order Matters
Index- based access
sequential data
ordered operations
duplicates allowed
efficient memory for dense data


Qus19: Why are dictionaries considered unordered , and how does that affect data retriveal
Dictionaries are consideredunordered because the items they store do not have a defined sequence , meaning you cannot access items by their position or index .
key - valued pairs were stored or retrived the internal storage could change order depending on insertions or deletion

 THIS affects data retrival in the following ways
 You cannot use numeric indices , instead,data  must be accessed using unique keys

 The time and order in which items are retriede can be unpredictable unless the language or libary  guarantees  order

 Operations that relay on order, suchas slicing or accessing the "nth" element, are not possible with unordered dictionaries .

 it makes searching for a value by key very efficient , but finding a value by position is not supported


 Qus20: Explain the difference between a list and a dictionary in term s of data retrival
 Ans The main difference between a list and a dictionary in terms of data  retrieval is how elements are accessed and the speed of that access:

 Lists are ordered collections where items are accessed by their numeric index . Retriveving an elements by index is very fast but if you want to find if a specific value exists , you must search the entrie list, which is slower

 Dictionaries are collectons of key-value pairs, where elements are accessed using unique keys . Retrieving a value by key is extremely use hashing to directly map keys to values. Unlike lists, dictionaries are not accessed by integer position but by their key.